/* generics */
:root {
    --dis-primary-color: #ffffff;
    --dis-nav: #255ee9;
    --dis-dark-section: #f6f6f6;
    --dis-b-text: #23272a;
    --dis-footer-text: #8ea1e1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}

/* utils */
.container {
    width: 1080px;
    margin: 0 auto;
}

.flex {
    display: flex;

}

.h100 {
    height: 100%;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
}


.banner {
    height: 400px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.banner-content {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5rem;
}

.banner-content p {
    text-align: center;
}

.banner-content button {
    margin: 0.8em;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    line-height: 1rem;
}

.banner-buttons {
    text-align: center;
}

.button-light {
    background-color: var(--dis-primary-color);
    color: var(--dis-b-text);
}

.button-dark {
    background-color: var(--dis-b-text);
    color: var(--dis-primary-color);
}

.light {
    height: 600px;
    background-color: var(--dis-primary-color);
}

.dark,
.full-dark {
    height: 600px;
    background-color: #f6f6f6;
}

.full-dark {
    height: 1050px;
}

.big,
.big2,
.big3 {
    width: 66%;
    background-image: url('../img/item1.svg');
    background-size: 90%;
    background-repeat: no-repeat;
}

.big2 {
    background-image: url('../img/item2.svg');
    background-position: right;
}

.big3 {
    background-image: url('../img/item3.svg');
}

.small {
    width: 31%;
    padding-top: 2rem;
}

.space-b {
    justify-content: space-between;
}


.small h2,
.full h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    color: var(--dis-b-text)
}

.small p,
.full p {
    line-height: 1.5rem;
    color: var(--dis-b-text);
}

.full {
    width: 100%;
}

.header-full {
    text-align: center;
}

.main-full {
    height: 75%;
    background-image: url('../img/item4-big.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-full {
    text-align: center;
    margin: 2rem 0;
}

h3 {
    font-size: 1.5rem
}

.button-full {
    background-color: var(--dis-footer-text);
    color: var(--dis-primary-color);
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    line-height: 15px;
}

.footer-top {
    padding: 30px 0;
    border-bottom: 1px white solid;
    gap: 1%;
}

.footer-top h2 {
    font-size: 1.8rem;
    color: var(--dis-footer-text);
}

.single-column {
    width: 30%;
}

.social img {
    width: 1.5rem;
}

.lingua {
    margin: 1.5rem 0;
    align-items: center;
}

.lingua img {
    width: 8%;
    margin-right: 0.5rem;
}

.multi-column {
    width: 17.5%;
}

li:first-child {
    color: var(--dis-footer-text)
}

li {
    list-style-type: none;
    margin-bottom: 0.5rem;
}

.footer-bottom {
    height: 100px;
    padding-top: 20px;
    justify-content: space-between;
    color: var(--dis-dark-section)
}

.footer-bottom button {
    background-color: var(--dis-footer-text);
    color: var(--dis-primary-color);
}

/* header */
header {
    background-color: var(--dis-nav);
    color: var(--dis-primary-color);
}

nav {
    height: 80px;
    background-color: var(--dis-nav);
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar {
    width: 50%;
    justify-content: space-between;
    display: flex;
}

.logo {
    background-image: url('../img/logo.svg');
    height: 30px;
    width: 110px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    color: var(--dis-primary-color);
    text-decoration: none;
}


/* main */
section {
    padding: 5rem 0;
}

/* footer */
footer {
    background-color: var(--dis-b-text);
    color: var(--dis-dark-section);
}

select {
    background-color: var(--dis-b-text);
    color: var(--dis-primary-color);
    border: none;
}